NODE_ENV=development

API_PORT=3001
WEB_PORT=3000

DATABASE_URL=postgresql://superflash:superflash@localhost:5432/superflash?schema=public
REDIS_URL=redis://localhost:6379

MAIL_HOST=localhost
MAIL_PORT=1025

NEXT_PUBLIC_API_URL=http://localhost:3001
